<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />    
    <title>FOODS SHARING</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="app-description">
      <h1>Welcome to the Food Sharing App!</h1>
      <p>Got extra food? Share it with your neighbors and help reduce waste!
        <br> OR Join our community to easily give away.</p>
      
      <% if(user) { %>
        <h2>Let’s Fight Food Waste Together</h2>      
      <% } else { %>
        <h2>Sign Up And Turn Your Surplus Food Into Someone's Next Meal </h2>
        <a href="/auth/sign-up" class="cta-button">Get Started!</a> 
      <% } %>
    </div>
    <div class="landing-image"></div>

    
  </body>
</html>

