<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="app-description">
      <h1>Welcome to the Food Sharing App!</h1>
      <p>Got extra food? Share it with your neighbors and help reduce waste!<br> Join our community to easily give away.
         let’s fight food waste together
      </p>
      <p>
        Sign up and turn your surplus food into someone's next meal </p>
      <a href="/auth/sign-up" class="cta-button">Get Started!</a>
    </div>
    
  </body>
</html>