<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />    
    <title>Add New Food Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-container">
    <div class="new-form-container">
    <h1>Add A New Food To Sharing With ALL</h1>
    <form action="/foods" method="POST"> 
        <!-- Adjust the action based on your route setup -->
        <label for="name">Food Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
        
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" required>

        <label for="location">Pickup Location:</label>
        <input type="text" id="location" name="location" required>

        <button type="submit">Share This Food</button> <!-- Submit button -->
    </div>
    </div>    
    </form>
    <a href="/foods">Back to Food List</a>
</body>
</html>
